<body>
    <div class="container" id="clone_container">
        <div class="border1">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <hr>
            <div class="form-group input-group-lg">
              <mat-form-field appearance="fill" class="wid">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="me@example.com" formControlName="email" [(ngModel)]="loginObj.email">
              </mat-form-field>
              <!-- <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="loginObj.email"> -->
            </div>
            <div class="form-group input-group-lg">
              <!-- <input type="password" class="form-control" placeholder="password" formControlName="password" [(ngModel)]="loginObj.password"> -->
            </div>
            <div class="form-group">
              <div class="inside">
                <button type="submit" mat-raised-button color="primary">Send email</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </body>
  