@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.form-group{
    font-family: 'Ubuntu', sans-serif;
}

.container1{
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.goBack{
    margin-right: 10px;
}
/* .insideContainer{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.651);
} */

.wid{
    width: 400px;
}
.buttons{
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Ubuntu', sans-serif;

}