<h2 mat-dialog-title>Reset Password</h2>
   <mat-dialog-content>
       <div class="container" id="clone_container">
            <div class="border1">
              <form #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
                <hr>
                <div class="form-group input-group-lg">
                  <mat-form-field appearance="fill" class="wid">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email to reset" [(ngModel)]="form.email" name="email">
                  </mat-form-field>
                  <!-- <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="loginObj.email"> -->
                </div>
                <div class="form-group input-group-lg">
                  <!-- <input type="password" class="form-control" placeholder="password" formControlName="password" [(ngModel)]="loginObj.password"> -->
                </div>
                <div class="form-group">
                  <div class="inside">
                    <button class="buttonCancel" type="button" mat-button [mat-dialog-close]="'canceled'" mat-raised-button color="warn">Cancel</button>

                    <button type="submit" [mat-dialog-close]="'email sent'" mat-raised-button color="primary">Send email</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-dialog-content>
   


  