<div class="container">
    <form [formGroup]="updateForm" (ngSubmit)="updateCustomer()">
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Email" formControlName="email">
      </div>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Name" formControlName="name">
      </div>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Twitter" formControlName="twitter">
      </div>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Github" formControlName="github">
      </div>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="latest_article_published" formControlName="latest_article_published">
      </div>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Location" formControlName="location">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block btn-lg">Submit</button>
        <div class="backButton">
          <button (click)="goBack()" class="btn btn-success btn-block btn-lg">Back</button>
        </div>
      </div>
    </form>
  </div>
