@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.form-group{
    font-family: 'Ubuntu', sans-serif;
}

.container1{
 display: flex;
 justify-content: center;
}

.insideContainer1{
    margin-top: 100px;
    background-color: rgba(240, 248, 255, 0.651);
    padding: 20px;
    border-radius: 20px;
}

.backButton{
    margin-right: 10px;
}

.addCD{
    margin-left: 10px;
}

.wid{
    width: 500px;
}

.buttons{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Ubuntu', sans-serif;
}