@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.table{
    margin: auto;
    background-color: rgba(240, 248, 255, 0.651);
}

.table1{
    padding-top: 100px;
    margin: 0px 100px 0px 100px;
    font-family: 'Ubuntu', sans-serif;

}

.form-group{
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;

}

.Add{
    margin-bottom: 10px;
}

.current_user{
    background-color: rgba(240, 248, 255, 0.651);
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;

}

.title h1{
    font-family: 'Ubuntu', sans-serif;

}