@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* .table{
    margin: auto;
    background-color: rgba(240, 248, 255, 0.651);
}

.table1{
    padding-top: 50px;
    margin: 0px 100px 0px 100px;
    font-family: 'Ubuntu', sans-serif;

}

.form-group{
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;
    width: 700px;
} */

.Add{
    margin-bottom: 10px;
}

/* .current_user{
    background-color: rgba(240, 248, 255, 0.651);
    margin-top: 10px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.title h1{
    font-family: 'Ubuntu', sans-serif;
}

.insiedContainer{
    width: 500px;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.651);
    margin-top: 400px;
    padding: 15px;
    border-radius: 30px;
} */

/* .container{
    display:flex;
    align-items: center;
    justify-content: center;
} */

.forms{
    width: 470px;
}

.above{
    display: flex;
}

.logoutbutton{
    margin-left: 10px;
}


table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .my_table{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(240, 248, 255, 0.651);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  td{
    font-family: 'Ubuntu', sans-serif;
  }

  .filter_bar{
    width: 20%;
  }

  header{
    background-color:rgb(163,173,187);
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }

  .myTitle{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 30px;
  }

  .addCustomer{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 100px;
  }


.logoutbutton{
    display: flex;
    align-items: center;
}